@import url(../Grundstruktur/colors.css);

.researchheader {
  border: solid rgb(0, 0, 0);
  width: 100%;
  height: 30%;
  background-image: url("../img/mining-weit.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.researchflex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.researchimg {
  /*background-color: lightblue;*/
  z-index: 99999;
  flex: 2;
}
.researchcosts {
  /*background-color: lightgreen;*/
  z-index: 99999;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.researchheader p {
  width: 100%;
  height: 100%;
  margin: 0;
  color: white;
  z-index: 100400;
}
.researchcosts > h1 {
  text-align: center;
  font-size: xx-large;
  left: 0%;
  margin: 0;
  color: white;
}
.researchcosts th {
  color: white;
  text-align: start;
}
.researchcosts td {
  color: white;
}
.researchoverview {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.researchoverview > div {
  margin: 2%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.researchoverview > div > img {
  width: 160px;
  height: 160px;
  background-color: black;
  padding: 5px;
}

.researchoverview > div > img:hover {
}

.researchfooter {
  display: flex;
}
.left {
  padding: 1%;
  flex: 4;
}
.right {
  margin-top: 5%;
  width: 50%;
  height: 50%;
  flex: 1;
}
