@import url(../Grundstruktur/colors.css);

.content-box {
  grid-area: 1 / 5 / 5 / 8;

  width: 1000px;
  height: 1000px:;
  background: var(--primary-color);
  border: 1px solid black;
  margin: 50px 25px 0 25px;
  align-self: center;
  position: relative;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1440px) {
  .content-box {
    max-width: 750px;
    max-height: 750px;
    margin: 50px 50px;
  }
}

.content-box div img {
  width: 100px;
  height: 100px;
}

.content-box div {
  display: flex;
  align-items: center;
}

.content-box div p {
  color: white;
}

.sonnensystem,
.systemhead {
  border: 1px dashed var(--secondary-color);
  box-sizing: border-box;
}

.test {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: var(--accent-color);
  border-radius: 10%;
  margin: 10px;
}

.planetnumber {
  display: flex;
  width: 100%;
  padding-left: 10px;
}

.test2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
